{:paths   ["src"]

 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}
           nrepl/nrepl         {:mvn/version "0.8.3"}}

 :aliases {:rebl-8                                          ;; only Oracle JDK 1.8
           {:extra-deps {org.clojure/core.async {:mvn/version "1.3.618"}
                         ;; deps for file datafication (REBL 0.9.149 or later)
                         org.clojure/data.csv   {:mvn/version "1.0.0"}
                         org.clojure/data.json  {:mvn/version "2.4.0"}
                         org.yaml/snakeyaml     {:mvn/version "1.29"}
                         ;; assumes you've installed the latest Cognitect dev-tools:
                         com.cognitect/rebl     {:mvn/version "0.9.242"}}
            :main-opts  ["-m" "cognitect.rebl"]}
           :rebl-11
           {:extra-deps {org.clojure/core.async      {:mvn/version "1.3.618"}
                         ;; deps for file datafication (REBL 0.9.149 or later)
                         org.clojure/data.csv        {:mvn/version "1.0.0"}
                         org.clojure/data.json       {:mvn/version "2.4.0"}
                         org.yaml/snakeyaml          {:mvn/version "1.29"}
                         ;; assumes you've installed the latest Cognitect dev-tools:
                         com.cognitect/rebl          {:mvn/version "0.9.242"}
                         ;; JavaFX deps
                         org.openjfx/javafx-fxml     {:mvn/version "16"}
                         org.openjfx/javafx-controls {:mvn/version "16"}
                         org.openjfx/javafx-swing    {:mvn/version "16"}
                         org.openjfx/javafx-base     {:mvn/version "16"}
                         org.openjfx/javafx-web      {:mvn/version "16"}}
            :main-opts  ["-m" "cognitect.rebl"]}

           :nrepl-rebl
           {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}
            :main-opts  ["-e" "((requiring-resolve,'cognitect.rebl/ui))" "-m" "nrepl.cmdline" "-i" "--middleware" "[nrebl.middleware/wrap-nrebl]"]}}}
